@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(220,220,220);
  font-family: 'Playfair Display', serif;
}

body {
  background-image: url('./images/background.png');
  /* background-size: cover;
  background-position: center; */
}

header {
 font-size: 35px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-solar-system {
  max-width: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.planet-card {
  max-width: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-planet {
  width: 170px;
  height: auto;
  margin: 10px 0;
}

.container-missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-mission {
  width: 190px;
  height: 190px;
  margin: 40px 10px;
  background-color: rgb(78, 75, 77);
  border-radius: 06%;
  border: 1px solid beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(220,220,220) !important;
}